/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

body {
    margin: 0px;
}

/* NAVBAR */

nav {
    padding: 15px;
}

ul.main {
    float: right;
}

a {
    text-decoration: none;
    color: #1A1A1A;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
}

/* SECTION 1 */

.sec1 {
  background-image: url("/images/landing.jpg");
  height: 90vh;
  background-size: cover;
}

.sec1 img {
    height: 90vh;
}

.sec1 h1 {
    color: #FFF;
    text-align: center;
    margin: auto;
    padding-top: 225px;
    padding-bottom: 20px;
    font-size: 80px;
    font-family: 'Noto Sans', sans-serif;
}

.sec1 h2 {
    color: #FFF;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 200;
    font-size: 36px;
    text-align: center;
    margin: auto;
    width: 60vw;
}

/* SECTION 2 */

.sec2 {
    text-align: center;
}

.sec2 h2 {
    text-decoration: underline;
    text-decoration-color: #00B172;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 43px;
    text-underline-offset: 10px;
}

.sec2 h3 {
    color: #00B172;
    font-family: 'Noto Sans', sans-serif;
    font-size: 32px;
}

.sec2 h4 {
    font-family: 'Nunito Sans', sans-serif; 
    font-weight: lighter;
    font-size: 28px;
    padding: 0px 40px;
    width: 345px;
}

.sec2 img {
    /* width: 30%; */
    height: 115px;
}

.onSpotify {
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
}

/* SECTION 3  */

.sec3 {
    background-color: #00B172;
    display: flex;
    justify-content: center;
    margin: 38px;
}

img.icon {
    height: 150px;
    align-self: center;
    padding-right: 125px;
}

img.screen {
    height: 650px;
    padding-top: 120px;
    padding-bottom: 75px;
}

.sec3 h4 {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-size: 42px;
    text-decoration: underline;
    text-underline-offset: 15px;
}

.sec3 h5 {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-size: 34px;
    margin: 45px 0px;
}

.sec3 p {
    font-family: 'Nunito Sans', sans-serif; 
    font-weight: lighter;
    color: white;
    width: 400px;
    width: 385px;
    font-size: 24px;
}
